.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    background-color: #262626;
    box-shadow: 5px 2px 4px 0px rgba(40,40,40,0.2);
    -webkit-box-shadow: 5px 2px 4px 0px rgba(40,40,40,0.2);
    -moz-box-shadow: 5px 2px 4px 0px rgba(40,40,40,0.2);
}

.shareWrapper{
    padding: 15px;

}

.shareTop{
    display: flex;
    align-items: center;
}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    border: none;
    width: 85%;
    height: 40px;
    border-radius: 25px;
    background-color: #666464de;
    padding-left: 20px;
}

.shareInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 15px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 15px;
}

.shareOptionText{
    color: rgb(231, 231, 231);
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    background-color: #1a1a1a;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 20px;
    width: 70px;
    cursor: pointer;
    color: white;
}

.shareButton:hover{
    background-color: antiquewhite;
    color: #1a1a1a;
}